#dashboard-workspace-projects-wrapper {
  width: 900px;
  height: 100%;
  margin: 50px auto;
  overflow: hidden;
}

#project-header {
  width: 100%;
  height: 30px;
}

#new-project-btn {
  float: right;
  padding: 5px;
  background-color: #168F48;
  border: 0.5px solid gray;
  border-radius: 5px;
  color: white;
}

#project-search {
  height: 50px;
  border-bottom: 1px solid gray;
}

hr {
  background-color: gray;
}

.project-item {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.project-item-details {
  float: left;
}

#project-icon {
  height: 70px;
  width: 70px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #ccb5ff;
  text-align: center;
  font-size: 60px;
}

#project-icon:hover {
  cursor: pointer;
}

#project-details {
  margin-top: 15px;
  margin-left: 15px;
}
