#user-details-wrapper {
  width: 250px;
  height: 300px;
  background-color: #3C4959;
  box-shadow:  5px 5px 5px gray;
  position: relative;
  color: white;
  text-align: center;
}

#username-bubble {
  background: lightblue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: black;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  position: absolute;
  margin: 20px auto;
  left: 100px;
}


#username {
  position: absolute;
  top: 80px;
}

#fullName {
  position: absolute;
  top: 100px;
}

#email {
  position: absolute;
  top: 120px;
}

hr {
  position: absolute;
  top: 150px;
  width: 180px;
  left: 35px;
}

span, h3 {
  left: 0;
  width: 100%;
}

#logout {
  position: absolute;
  left: 10px;
  top: 260px;
}

#logout-btn {
  width: 230px;
  height: 30px;
  border-radius: 5px;
  font-size: 15px;
  background-color: red;
  color: white;
  cursor: pointer;
}

#user-options {
  position: absolute;
  top: 160px;
  width: 100%;
}

.user-option:first-child {
  margin-bottom: 10px;
}
