<div id="menu-container">

  <div id="menu">
    <ul>
      <li><img src="../../assets/images/logo.png" width="35px" height="35px"></li>
      <li>Why Ouvie?</li>
      <li>Ouvie guide</li>
      <li>Pricing</li>
      <li style="float: right;" routerLink='/register'><span id="signup-btn">Sign up</span></li>
      <li style="float: right;" routerLink='/login'>Login</li>
    </ul>
  </div>

</div>

<div id="banner">

  <div id="signup-board"></div>
</div>

<div class="offers-container" id="advantage">
  <div id="motto">VERSION CONTROLLED, CLOUD BASED VIDEO STORAGE</div>
  <div class="offer" id="adv-1">
    <h3>Reliable Backup</h3>
    <hr>
    <p>If you’ve ever had a hard drive corrupt then you know the pain that us and so many other editors have felt. They just aren’t as reliable as we’d like them to be. That’s why Ouvie uses AWS S3 cloud storage to keep your projects safe, which is designed to provide 99.999999999% durability. That’s right, eleven nine’s.</p>

  </div>
  <div class="offer" id="adv-2">
    <h3>Version Control</h3>
    <hr>
    <p>Too often we get so far into a project and realise the last few changes just don’t fit, and sometimes the “undo” button just isn’t enough. Ouvie provides its users with robust version control, keeping track of every version of your project right from the very beginning, so you can focus on letting your creative brilliance shine.</p>

  </div>
  <div class="offer" id="adv-3">
    <h3>Reduced Bandwidth</h3>
    <hr>
    <p>If you want reliable backup, you save your work in the cloud. It can be such a drag though to repeatedly upload the same file over and over, especially when you’ve only added that one small clip in the middle. With Ouvie, we upload only what you change from version to version, saving you a ton on bandwidth and time.</p>

  </div>
</div>


<div class="guide-container" id='guide1'>
  <h1>Why Ouvie?</h1>
</div>

<div class="guide-container" id="guide2">
  <h4>Ouvie for Editors</h4>
  <h1>Makes it easier to work on the same projects</h1>
</div>

<div class="offers-container" id="price-container">
  <h1>Get started today</h1>
  <div class="offer" id="offer-1">
    <h1>FREE</h1>
    <hr>
    <ul>
      <li>1TB space</li>
      <li>Up to 3 team members</li>
      <li>bla bla</li>
      <li>LOL</li>
    </ul>
  </div>
  <div class="offer" id="offer-2">
    <h1>€10</h1>
    <hr>
    <ul>
      <li>5TB space</li>
      <li>Up to 10 team members</li>
      <li>bla bla</li>
      <li>LOL</li>
    </ul>
  </div>
  <div class="offer" id="offer-3">
    <h1>€20</h1>
    <hr>
    <ul>
      <li><b>Unlimited</b> space</li>
      <li><b>Unlimited</b> members</li>
      <li>bla bla</li>
      <li>LOL</li>
    </ul>
  </div>
</div>

<app-footer></app-footer>
