<div id="footer">
  <div id='item-wrapper'>
    <div class="item">
      <h1>Ouvie</h1>
      <hr>
      <p>The first version controlled, cloud based video storage</p>
    </div>
    <div class="item">
      <h3>Explore</h3>
      <hr>
      <ul>
        <li>Why Ouvie</li>
        <li>Ouvie Guide</li>
        <li>Offers</li>
      </ul>
    </div>
    <div class="item">
      <h3>Visit</h3>
      <hr>
      <ul>
        <li>O'Connell Street</li>
        <li>Dublin</li>
        <li>LoL</li>
      </ul>
      <h3>Contact</h3>
      <hr>
      <ul>
        <li>beezineez@ouvie.com</li>
        <li>+353LOL2345</li>
        <li></li>
      </ul>
    </div>
    <div class="item">
      <h3>Follow</h3>
      <hr>
      <ul>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Twitter</li>
      </ul>
    </div>
    <div class="item">
      <h3>Legal</h3>
      <hr>
      <ul>
        <li>Terms & Conditions</li>
        <li>Privacy</li>
      </ul>
    </div>
  </div>
  <div id='disclaimer'>
    <p>&copy;2020 Ouvie, Inc. Made by: OmO</p>
  </div>
</div>
